<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YogaPants.ai</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/assets/logo.png">
</head>
<body>
    <header>
        <div class="logo">
            <h1>YogaPants.ai</h1>
        </div>
    </header>
    <main>
        <div class="main-img">
            <!-- <div class="filter-container"></div> -->
            <img src="static/assets/landing-bg.png" alt="">
        </div>
        <div class="main-contents">
            <div class="contents">
                <h2>
                    Start Your <br>Yoga Journey with AI Support
                </h2>

                <p>
                    Everthing you needed to build a solid foundation from your comfort of your home.
                </p>
                <button onclick="nextpage()">Let's YOGA</button>
            </div>
        </div>
    </main>
    <section class="about">
        <div class="about-content">
            <h3>
                ABOUT YOGAPANTS
            </h3>
            <h2>Akshay,</h2>
            <h4>Founder of YogaPants</h4>
            <p>
                Welcome to our Yoga AI platform, where advanced technology enhances the ancient practice of yoga. Our platform offers personalized yoga experiences tailored to your needs and fitness levels.
            </p>
            <br>
            <p>
                Our Yoga AI platform uses MediaPipe Pose Estimation, a state-of-the-art technology developed by Google. MediaPipe accurately detects and tracks key body points using your device’s camera, providing real-time feedback on your yoga poses. 
                The model is trained on a vast dataset of pose-estimated coordinates. Whether you're a beginner or an advanced practitioner, our AI adapts to provide the most effective and enjoyable yoga sessions.
            </p>
        </div>
        <div class="about-img">
            <img src="static/assets/yogamen.gif" alt="">
        </div>
    </section>
    <div class="bottom">
        <h4>
            &copy; Copyright AkshayBabuK
        </h4>
    </div>
</body>
<script>
function nextpage(){
    window.location.href='/dashboard'
}
</script>

</html>